.* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  header {
    background-color: rgb(104, 104, 231);
    padding: 10px;
    text-align: center;
    font-size: 25px;
    color: white;
  }

  article {
    padding: 10px;
    font-size: 20px;
    background-color: rgb(104, 104, 231);
    color: white;
  }